<footer>
  <section class="wrapperplaysc2">
    <article class="content">
      <div class="fullwidth-content">
        <h4>Ready, Commander?</h4>
        <h1 id="playsc2">Play <span>StarCraft II</span></h1>
        <div class="action-information">
          <img class="icon" src="../../assets/images/windows.png" alt="windows logo"/>
          <img class="icon" src="../../assets/images/apple.png" alt="apple logo"/>
          <div id="systemreqwrapper">
            <a class="systemreq" href="https://battle.net/support/article/27575" target="_blank"><h3>View system requirements  →</h3></a>
          </div>
        </div>
        <div class="calltoaction">
          <a class="buttonsc2orange" href="https://www.battle.net/download/getInstallerForGame?gameProgram=STARCRAFT_2">Play Free Now</a>
          <a class="buttonsc2blue" href="shop.html">Go To Shop</a>
        </div>
        <div id="wikipedia">
          <a class="systemreq" href="https://en.wikipedia.org/wiki/StarCraft_II:_Legacy_of_the_Void" target="_blank"><h3>Wikipedia link →</h3></a>
        </div>
      </div>
    </article>
  </section>
</footer>
