<!-- navigation see through -->
<nav id="desktop">
  <ul>
    <li class="currentpage"><a href="index.html">Home</a></li>
    <li><a href="shop.html">Shop</a></li>
    <!-- Niet genoeg ruimte in MB's voor deze 2 pagina's :( dus maar extern linken -->
    <li><a href="http://us.battle.net/sc2/en/game/maps-and-mods/" target="_blank">Arcade</a></li>
    <li id="last"><a href="https://us.battle.net/support/en/" target="_blank">Contact</a></li>
    <li id="playfreenow"><a href="https://www.battle.net/download/getInstallerForGame?gameProgram=STARCRAFT_2">Play Free Now</a></li>
  </ul>
</nav>
<nav id="mobile">
  <input id="dropdown" class="input-box" type="checkbox" style="display:none;">
  <label for="dropdown" class="dropdown">
    <span class="hamburger">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
    </span>
  </label>
  <a href="#" id="logosc2">
    <figure>
      <img src="../../assets/images/header/navicon.png" alt="navicon Starcraft">
    </figure>
  </a>
  <ul id="mobilemenu">
    <li class="currentpage"><a href="index.html">Home</a></li>
    <li><a href="shop.html">Shop</a></li>
    <li><a href="http://us.battle.net/sc2/en/game/maps-and-mods/" target="_blank">Arcade</a></li>
    <li><a href="https://us.battle.net/support/en/" target="_blank">Contact</a></li>
    <li><a href="https://www.battle.net/download/getInstallerForGame?gameProgram=STARCRAFT_2">Play Free Now</a></li>
  </ul>
</nav>
